.main-body {
    border-collapse: collapse;
}

.progress-indicator {
    height: 600px;
    /* background-color: rgba(148, 167, 230, 0.886); */
}

.loader {
    position: fixed;
    z-index: 10;
    border: 8px solid rgba(0, 0, 0, 0.242);
    border-top: 8px solid #26bfd0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 60%;
    left: 49%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.cart-header {
    background-color: #ffffff;
    font-size: 26px;
    padding-left: 70px;
    /* position: sticky; */
    /* top: 31%; */
    /* z-index: 1040; */
    border: 1px solid rgba(220, 220, 220, 0.4);
}

.cart-product {
    /* background-color: antiquewhite; */
    padding: 20px;
    position: relative;
    height: 200px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(220, 220, 220, 0.4);
}

.prod-logo {
    position: absolute;
    left: 70px;
}

.prod-logo>img {
    width: 120px;
    height: 125px;
}

.prod-title {
    position: absolute;
    font-size: 20px;
    left: 225px;
}

.prod-brand {
    position: absolute;
    left: 225px;
    top: 50px;
}

.price {
    position: absolute;
    left: 225px;
    top: 90px;
}

.price>span:first-child {
    font-size: 20px;
    margin-right: 10px;
}

.cart-product {
    /* transform-origin: top center; */
    animation: flip 600ms;
}

@keyframes flip {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    /* 60% {
        transform: rotateX(45deg);
    } */
    /* 80% {
        transform: rotateX(-30deg)
    }  */
    100% {
        opacity: 1.0;
        transform: rotateX(0deg);
    }
}

.cart-product>button {
    position: absolute;
    left: 225px;
    top: 150px;
}

.price-header {
    background-color: #ffffff;
    font-size: 20px;
    /* padding-left: 40px; */
    padding: 5px 10px;
    border: 1px solid rgba(220, 220, 220, 0.4);
}

.cart-summary {
    padding: 10px;
    border: 1px solid rgba(220, 220, 220, 0.4);
}

.cart-summary>p:nth-child(4) {
    margin-top: 10px;
    font-weight: 600;
}

.cart-summary span {
    float: right;
    /* margin-right: 10px; */
}

.buy-now {
    padding: 10px 20px;
    position: relative;
    left: 45%;
    margin: 20px auto;
}

.buy-now:hover {
    background-color: red;
}
