.main-body {
    /* background-color: antiquewhite; */
    margin: 40px auto;
}

.vertical-image {
    height: 327px;
    padding: 10px 5px;
    width: 10%;
    overflow-y: auto;
}

.vertical-image::-webkit-scrollbar {
    display: none;
}

.vertical-image ul {
    list-style: none;
    padding: 0px;
}

.vertical-image>ul>li>img {
    margin: 2px;
    width: 100px;
    height: 100px;
    border-width: 1px;
    border-color: #faf8f8;
    border-style: solid;
}

.vertical-image img:hover {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.image-preview>img {
    width: 327px;
    height: 327px;
}

#price {
    font-size: 22px;
    font-weight: 600;
}

.product-details>input {
    display: block;
}

.product-details>button {
    margin: 10px 0px;
    display: inline;
}

#productAdded {
    color: red;
    margin-left: 50px;
}

#ratings {
    background-color: red;
    color: white;
    padding: 2px;
}