<span class="sub-menu" ng-hide="!menuSelected" ng-mouseleave="hideSubMenu()">
    <span ng-repeat="cat in menudata">
        <span ng-repeat="subcat in cat " class="menu-options" ng-if="subcat.name==menuSelected ">
            <span class="sub-sub-menu" ng-repeat="menu in subcat.menu">
                <p>{{menu.name}}</p>
                <hr>
                <ul>
                    <li ng-repeat="option in menu.options">
                        <a href="#">
                            {{option}}
                        </a>
                    </li>
                </ul>
            </span>
        </span>
    </span>
</span>
